<div class="login-container">
    <div class="navigation">
      <button routerLink="/formato">Formatos</button>
      <button routerLink="/convocatoria">Convocatorias</button>
      <button routerLink="/convenio">Convenios</button>
    </div>

    <h1>Iniciar Sesión</h1>

     <div class="login-page">
    <div class="form">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="thumbnail">
        </div>
        <br>
        <div>
          <input formControlName="NUE" type="text" class="form-control" id="floatingInput" placeholder="NUE"
            maxlength="10">
          <small *ngIf="NUE1() && !NUEV()" class="text-danger">
            El NUE es obligatorio y debe ser de 10 digitos.
          </small>
        </div>
        <div>
          <input formControlName="password" type="password" class="form-control" id="floatingPassword"
            placeholder="Password">
          <small *ngIf="passwordT() && !passwordV()" class="text-danger">
            La contraseña es obligatoria.
          </small>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">Acceder</button>
      </form>
    </div>
  </div>
</div>
  